{{define "news"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Balalaika News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="text-center text-primary bg-light" style="font-family: 'Roboto', sans-serif">
    <h1 class="display-4">Main News</h1>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-left">
          {{range .}}
          <h3 class="text-dark text-left">{{.Title}}</h3>
          <p class="text-secondary text-left">{{.Snippet}}</p>
          <code class="text-left"><a href="{{.Link}}" target="_blank">{{.Link}}</a></code>
          {{end}} 
      </div>
    </div>
  </div>
</body>
<footer>
  <div class="footer text-center align-bottom" style="font-size:medium">
    <img src="/img/people.png" width="80">
  </div>
</footer>
</html>
{{end}}